	<!-- Additional Elements -->
    <section class="wrapper style1 align-center">
        <div class="inner">
                <!-- Form -->
                    <section>
                        <header>
                            <h3>Kontakt</h3>
                        </header>
                        <div class="content">
                            <form action="https://usebasin.com/f/f83ce4ff5897" method="POST">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" value="" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" value="" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Nachricht</label>
                                        <textarea name="message" id="message" rows="6"></textarea>
                                    </div>
                                    <div class="field half">
                                        <input type="checkbox" id="copy" name="copy" />
                                        <label for="copy">Email me a copy of this message</label>
                                    </div>
                                    <div class="field half">
                                        <input type="checkbox" id="human" name="human" checked />
                                        <label for="human">I am a human and not a robot</label>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                                </ul>
                            </form>

                        </div>
                    </section>
            </div>
        </div>
    </section>
